{{#if (and (gt model.length 0) (eq currentFolderName 'inbox'))}}
  <div class="mail-option">
    {{#rl-dropdown-container class="btn-group"}}
      {{#rl-dropdown-toggle class="btn btn-default"}}
        Move to
        {{fa-icon 'fa-angle-down'}}
      {{/rl-dropdown-toggle}}

      {{#rl-dropdown tagName="ul" class="dropdown-menu" closeOnChildClick=true}}
        <li>
          <a href="#" {{action "trashBulk"}}>{{fa-icon "trash"}} Delete</a>
        </li>
      {{/rl-dropdown}}
    {{/rl-dropdown-container}}
  </div>
{{/if}}

<table class="table table-inbox table-hover">
  <tbody>
    {{#each (get mailLookup mailLookup.currentFolderName) as |email|}}
    <tr class="{{if email.readDate 'read' 'unread' }}" >
        <td class="inbox-small-cells">
          {{input type="checkbox" checked=email.checked }}
        </td>
        <td class="inbox-small-cells" {{action "starEmail" email}}>
          {{#if email.starred}}
            {{fa-icon "star" class="inbox-started"}}
          {{else}}
            {{fa-icon "star"}}
          {{/if}}
        </td>
        <td class="view-message dont-show" {{action "showEmail" email}}>{{email.from}}</td>
        <td class="view-message" {{action "showEmail" email}}>{{email.subject}}</td>
        <td class="view-message text-right" {{action "showEmail" email}}>{{relative-date-formatter email.sentAt relative=false}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
