{{#if (and (gt mail.length 0) (eq folderName 'inbox'))}}
  <div class="mail-option">
    {{#rl-dropdown-container class="btn-group"}}
      {{#rl-dropdown-toggle class="btn btn-default"}}
        Move to
        {{fa-icon 'fa-angle-down'}}
      {{/rl-dropdown-toggle}}

      {{#rl-dropdown tagName="ul" class="dropdown-menu" closeOnChildClick=true}}
        <li>
          <a href="#" {{action "trashSelected"}}>{{fa-icon "trash"}} Delete</a>
        </li>
      {{/rl-dropdown}}
    {{/rl-dropdown-container}}
  </div>
{{/if}}

<table class="table table-inbox table-hover">
  <tbody>
    {{#each mail as |m|}}
    <tr class="{{if m.readDate 'read' 'unread' }}" >
        <td class="inbox-small-cells">
          {{input type="checkbox" checked=m.checked }}
        </td>
        <td class="inbox-small-cells" {{action (route-action "toggleStar" m)}}>
          {{#if m.starred}}
            {{fa-icon "star" class="inbox-started"}}
          {{else}}
            {{fa-icon "star"}}
          {{/if}}
        </td>
        <td class="view-message dont-show" {{action "showEmail" m}}>{{m.from}}</td>
        <td class="view-message" {{action "showEmail" m}}>{{m.subject}}</td>
        <td class="view-message text-right" {{action "showEmail" m}}>{{relative-date-formatter m.sentAt relative=false}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
