<div class="mail-option">
  <div class="btn-group">
    <a {{action (route-action 'starEmail' model)}} href="#" class="btn mini tooltips" aria-expanded="false">
      {{#if model.starred}}
        {{fa-icon "star" class="inbox-started"}}
      {{else}}
        {{fa-icon "star"}}
      {{/if}}
    </a>
  </div>

  <div class="btn-group">
    <a {{action (route-action 'moveToTrash' model)}} href="#" class="btn mini tooltips" aria-expanded="false">
      {{ fa-icon "trash" }}
    </a>
  </div>
</div>
<hr class="options-line"/>
<div class="mail-content">
  <h2>{{model.subject}}</h2>
  <hr class="subject-line"/>
  <div class="mail-header">
    <div class="tile-icon">{{fa-icon "user"}}</div>
    <span class="from-name">{{model.from}}</span>
    <span class="sent-at">{{relative-date-formatter model.sentAt relative=true}}</span>
  </div>
  <p>{{model.body}}</p>
</div>
