<div class="container">
  <div class="mail-box">
    <aside class="sm-side">
      <div class="user-head">
      </div>
      <div class="inbox-body">
        <a href="#myModal" title="Compose" {{ action (route-action "toggleCompose") }}class="btn btn-compose">
          Compose
        </a>
      </div>
      <ul class="inbox-nav inbox-divider">
        {{nav-item
          path='inbox'
          title='Inbox'
          count=inboxCount
          type='info'
        }}

        {{nav-item
          path='trash'
          title='Trash'
          count=trashCount
          type='danger'
        }}

        {{nav-item
          path='starred'
          icon='star'
          title='Starred'
          count=starredCount
          type='info'
        }}

        {{nav-item
          path='sent'
          icon='paper-plane'
          title='Sent'
          type='info'
        }}
      </ul>
    </aside>
    <aside class="lg-side">
      <div class="inbox-head">
        <h3>Mail</h3>
      </div>
      <div class="inbox-body">
        {{outlet}}
      </div>
    </aside>
  </div>
</div>
