<div class="container">
  <div class="mail-box">
    <aside class="sm-side">
      <div class="user-head">
      </div>
      <div class="inbox-body">
      </div>
      <ul class="inbox-nav inbox-divider">
        {{#link-to 'folder' 'inbox' tagName="li"}}
          {{#link-to 'folder' 'inbox'}}
            {{fa-icon "inbox"}}
            Inbox {{#if inboxCount}}({{inboxCount}}){{/if}}
          {{/link-to}}
        {{/link-to}}

        {{#link-to 'folder' 'trash' tagName="li"}}
          {{#link-to 'folder' 'trash'}}
            {{fa-icon "trash"}}
            Trash {{#if trashCount}}({{trashCount}}){{/if}}
          {{/link-to}}
        {{/link-to}}

        {{#link-to 'folder' 'starred' tagName="li"}}
          {{#link-to 'folder' 'starred'}}
            {{fa-icon "star"}}
            Starred {{#if starredCount}}({{starredCount}}){{/if}}
          {{/link-to}}
        {{/link-to}}
      </ul>
    </aside>
    <aside class="lg-side">
      <div class="inbox-head">
        <h3>Mail</h3>
      </div>
      <div class="inbox-body">
        {{outlet}}
      </div>
    </aside>
  </div>
</div>
